## Data Preparation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
restaurant = pd.read_csv("drive/Shared drives/MATH156 Project/Data/restaurant_Portland.csv")
review = pd.read_csv("drive/Shared drives/MATH156 Project/Data/yelp_review.csv")

In [ ]:
# Prepare Restaurants
restaurant = restaurant.loc[restaurant['review_count'] >= 10]
restaurant_final = restaurant[['business_id', 'name', 'stars']]
restaurant_final = restaurant_final.reset_index(drop=True)
restaurant_final = restaurant_final.rename(columns={'name':'business_name', 'stars':'business_stars'})
restaurant_final['business_name'].value_counts()

Subway                         40
McDonald's                     22
Taco Bell                      20
Papa Murphy's                  13
Domino's Pizza                 11
                               ..
Kwang Chow Restaurant           1
Stevie's Chicken n' Waffles     1
Vintage  Cocktail Lounge        1
EL Yucateco Food Cart           1
Cacao Drink Chocolate           1
Name: business_name, Length: 4365, dtype: int64

In [ ]:
#Prepare review
review = review.dropna()
review_final = review[['review_id', 'business_id', 'stars', 'text']]
review_final = review_final.rename(columns={'stars':'review_stars', 'text':'review_text'})

In [ ]:
#Merge
dataset = restaurant_final.merge(review_final, how='left', on='business_id', sort=True)

In [ ]:
#Check
dataset = dataset.dropna()
dataset.isna().sum()

business_id       0
business_name     0
business_stars    0
review_id         0
review_stars      0
review_text       0
dtype: int64

In [ ]:
dataset.head()

Empty DataFrame
Columns: [business_id, business_name, business_stars, review_id, review_stars, review_text]
Index: []

In [ ]:
avg_rating = pd.pivot_table(dataset, values='review_stars', index=['business_id'], columns=['business_stars'], aggfunc='mean')
avg_rating.head()

Empty DataFrame
Columns: []
Index: []